- content_for :javascripts do
  = javascript_include_tag 'tag-it.min'
  :javascript
    $(function() {
      $("#more_keywords").tagit({ fieldName: 'tags[]', allowSpaces: true});
    });
- content_for :stylesheets do
  = stylesheet_link_tag 'tag-it'
.row
  .span8
    - if current_user == @user
      .box
        %h2 suggest more keywords for yourself:
        = form_for('onboard', :url => add_terms_user_path(current_user)) do |f|
          %ul#more_keywords
          %span.help-block seperate keywords with commas
          = f.submit 'Add Keywords!', :class => 'btn btn-primary'
    %h2 top keywords
    %ol
      - @keywords.each do |k|
        %li
          %p{ :title => "Weight: #{k[1]}" }= k[0]
  = render 'avatar_box', :user => @user
