.article.square.with-picture.notbox.secondary
  = render 'home/debug', :article => article if current_user.debug_user?
  = image_tag article.image.url(:square), :data => { :ratio => article.image_height_as_pct }, :class => 'img-secondary article-image'
  .title
    %h2
      = link_to article.title, article.url
  = render 'home/posted_by', :article => article
  = render 'home/article_links', :article => article

