.article.square.box
  - if current_user.debug_user?
    .recommended-because
      = link_to debug_post_path(article) do
        %i.icon-question-sign
          .reason
            Weight: #{article.try(:weight).try(:round, 2) || "(unknown)"}
  %h2
    =link_to article.title, article.url
  .posted_by
    - if article.posted_by.is_a?(Feed)
      from
      = article.posted_by.title
    - elsif article.posted_by.is_a?(User)
      by
      = link_to article.posted_by.name, user_path(article.posted_by)
    &middot; posted
    = distance_of_time_in_words(article.created_at, Time.now)
    ago
  =render 'home/article_links', :article => article
