-content_for :stylesheets do
  = stylesheet_link_tag 'home'
-content_for :javascripts do
  = javascript_include_tag 'home'
  :javascript
    $(function() {
      OctoberHomepage.init();
    });
.row
  - if current_user.needs_onboarding? && !@query
    = render "home/onboard"
  -# The following is a temporary fix until tom figures out a better way to do this
  - if @posts.empty?
    = "There aren't any posts yet!"
  - else
    - @posts.each do |p|
      = render "home/#{p[1]}", :article => p[0]
