- content_for :javascripts do
  :javascript
    $(function() {
      $("#user_email").focus();

      mixpanel.track_forms("#new_user", "Sign In Attempt");
    });
.span5
  %h2 Sign In
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal' } ) do |f|
    .control-group
      = f.label :email, :class => 'control-label'
      .controls
        = f.email_field :email, :autofocus => true, :class => 'span3'

    .control-group
      = f.label :password, :class => 'control-label'
      .controls
        = f.password_field :password, :class => 'span3'

    - if devise_mapping.rememberable?
      .control-group
        = f.label :remember_me, :class => 'control-label'
        .controls
          = f.check_box :remember_me
    .control-group
      .controls
        .btn-group
          = f.submit "Sign in", :class => 'btn btn-primary'
          = render "devise/shared/links"
.span5.offset1
  %h2 What is Project October?
  %p
    %b Read the news you want to read
    with the help of October's automatic tagging and recommendation system.
  %p
    Project October will
    %b learn and adapt
    based on the types of articles that you read and show you more of what you
    want to read. Automatically.
