.row
  .span5
    %h2 Sign In
    = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal' } ) do |f|
      .control-group
        = f.label :email, :class => 'control-label'
        .controls
          = f.email_field :email, :autofocus => true

      .control-group
        = f.label :password, :class => 'control-label'
        .controls
          = f.password_field :password

      - if devise_mapping.rememberable?
        .control-group
          = f.label :remember_me, :class => 'control-label'
          .controls
            = f.check_box :remember_me

      .form-actions
        = f.submit "Sign in", :class => 'btn btn-primary'

    = render "devise/shared/links"
  .span6
    %h2 What is Project October?
    %p
      %b Read the news you want to read
      with the help of October's automatic tagging and recommendation system.
    %p
      Project October will
      %b learn and adapt
      based on the types of articles that you read and show you more of what you
      want to read. Automatically.
