- comment = comment_list[:root]
.comment
  = image_tag gravatar_url(comment.user, 12), :class => 'avatar-image-small'
  #{comment.user.name} - #{distance_of_time_in_words(comment.created_at, Time.now)} ago
  %p= comment.body
  = render 'new_comment', :parent_id => comment.id, :post_id => comment.post_id
  - comment_list[:children].each do |comment_and_child_comments|
    = render 'comment_list', :comment_list => comment_and_child_comments
