- content_for :javascripts do
  :javascript
    var OctoberSubmitPage = (function($) {
      var $form = $("#new_post");
      var $urlField = $form.find("#post_url");
      var $imageUrlField = $form.find("#post_image_url");
      var $titleField = $form.find("#post_title");
      var $imagesArea = $form.find("#form-image-group");
      var $keywordsArea = $form.find("#form-keywords-group");
      var $loadingGif = $form.find(".loading-gif");
      var fetchUrl = "#{fetch_posts_path}"

      var init = function() {
        $urlField.on('change', urlChangeHandler);
        hideSections();
        resetSections();
      };

      var hideSections = function() {
        $imagesArea.hide();
        $keywordsArea.hide();
        $loadingGif.hide();
      };

      var resetSections = function() {
        $titleField.val("");
        $imagesArea.find(".controls").html('');
        $keywordsArea.find(".controls").html('<ul></ul>');
      };

      var urlChangeHandler = function(e) {
        if (this.value === "") {
          resetSections();
        }
        $titleField.attr('placeholder', 'Please wait, fetching...');
        $loadingGif.show();
        $.post(fetchUrl, { url: this.value }, postFetchedHandler, 'json');
      };

      var selectImage = function($img) {
        $img.parent().children().removeClass('selected');
        $imageUrlField.val($img.data('image-url'));
        $img.addClass('selected');
      };

      var selectImageHandler = function(ev) {
        selectImage($(ev.target));
        return false;
      };

      var postFetchedHandler = function(data) {
        if (data.error) {
          resetSections();
          hideSections();
        }

        // Done loading, hide the loading animation
        $loadingGif.hide();
        $titleField.attr('placeholder', '');

        // Populate the images
        $imageControlsArea = $imagesArea.find(".controls");
        $.each(data.images, function(index, url) {
          $imageControlsArea.append("<div data-image-url=\"" + url + "\" style=\"background: url('" + url + "'); background-size: cover;\" class=\"article-image\"></div>");
        });
        selectImage($imageControlsArea.find(":first"));
        $imageControlsArea.on('click', selectImageHandler);
        $imagesArea.show();

        // Populate the title
        $titleField.val(data.title);

        // Populate the keywords
        $keywordListArea = $keywordsArea.find(".controls ul");
        $.each(data.keywords, function(index, keyword) {
          if (index >= 5) { return false; }
          $keywordListArea.append("<li>" + keyword + "</li>");
        });
        $keywordListArea.tagit({ fieldName: 'keywords[]' });
        $keywordsArea.show();
      };

      return { init : init };
    }($));

    $(function() {
      OctoberSubmitPage.init();
    });
- content_for :javascripts do
  = javascript_include_tag 'tag-it.min'
- content_for :stylesheets do
  = stylesheet_link_tag 'posts'
  = stylesheet_link_tag 'tag-it'
.span8
  %h2 Post A New Article
  = form_for(Post.new, :method => :post, :html => { :class => 'form-horizontal' }) do |f|
    .control-group
      .control-label
        =f.label :url
      .controls
        =f.text_field :url, :class => 'span6'
    .control-group#form-image-group
      .control-label
        =f.label :image
        =hidden_field_tag 'post[image_url]'
      .controls
    .control-group#form-keywords-group
      .control-label
        =f.label :keywords
      .controls
    .control-group
      .control-label
        =f.label :title
      .controls
        =f.text_field :title, :class => 'span6'
        =image_tag 'loading.gif', :class => 'loading-gif'
    .form-actions
      =f.submit 'Post Article!', :class => 'btn btn-primary'
