!!! 5
%html
  %head
    %title Project October
    = render 'layouts/global_header'
  %body
    - if THRIFTCLIENT.read_only_mode?
      .read-only-mode
        %p We're experiencing some troubles at the moment. October is temporarily in amnesia mode.
    .container#logobar
      .row
        .span4
          %h1.logo= link_to 'October', root_path
        .span8
          .right-nav-items.btn-group
            = link_to 'Logout', destroy_user_session_path, :class => 'btn', :method => 'delete', :style => 'float: right'
            = link_to current_user.name, user_path(current_user.name), :class => 'btn', :style => 'float: right'
            = link_to 'Post an Article', new_post_path, :class => 'btn hidden-phone', :style => 'float: right'
            = link_to 'Search', '#', :class => 'hidden-desktop btn', :id => 'tablet-search-button'
            = form_for('search', :url => root_path, :html => { :style => 'float: right;', :class => 'visible-desktop'}) do |f|
              =f.text_field :query, :placeholder => "Search for user, keyword, or feed", :class => 'span4'
      .row#tablet-search-row
        .span12
          = form_for('search', :url => root_path) do |f|
            =f.text_field :query, :placeholder => "Search for user, keyword, or feed"
      - if flash[:notice] || flash[:error]
        #alert-bar
          - if flash[:notice]
            .alert.alert-info= flash[:notice]
          - if flash[:error]
            .alert.alert-error= flash[:error]
      - if @query.present?
        .row
          .span12
            %h2 Showing results for "#{@query}":
        - if @user_results.present?
          .row
            .span12
              %h3 Users
              %ol.user-results
                - @user_results.each do |u|
                  %li.box
                    %h3
                      #{image_tag gravatar_url(u, 32)}
                      = link_to u.name, user_path(u.name)
    .container#articles
      = yield
    = javascript_include_tag "application"
    = yield :javascripts
