!!! 5
%html
  %head
    %title Project October
    = stylesheet_link_tag    "application", :media => "all"
    = yield :stylesheets
    / Intentionally block page load to get the fonts
    = javascript_include_tag '//use.typekit.net/vxb6zze.js'
    :javascript
      try{Typekit.load();}catch(e){}
    = csrf_meta_tags
  %body
    .container#logobar
      .row
        .span12
          = link_to root_url do
            = image_tag 'logo_small.png', :width => '200', :alt => 'October'
          - if signed_in?
            = link_to 'Logout', destroy_user_session_url, :class => 'btn', :method => 'delete', :style => 'float: right'
          - else
            = link_to 'Login', new_user_session_url, :class => 'btn', :style => 'float: right'
          = link_to 'Post an Article', new_post_url, :class => 'btn', :style => 'float: right'
          = text_field_tag :search, '', :placeholder => "search", :style => 'float: right'
      - if flash[:notice] || flash[:alert]
        #alert-bar
          - if flash[:notice]
            .alert.alert-info= flash[:notice]
          - if flash[:alert]
            .alert= flash[:alert]
    .container#articles
      = yield
    = javascript_include_tag "application"
    = yield :javascripts
