!!! 5
%html
  %head
    %title Project October
    = render 'layouts/global_header'
    :css
      body, html {
        height: 100%;
        background: url(#{image_path('splash_background.jpg')}) top left no-repeat;
        background-size: cover;
      }
      #splash {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 5px 0 30px;
        margin-top: 50px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3)
      }
      .logo a { color: #555; }
      .logo {
        display: inline-block;
        background: none;
        padding-left: 0;
      }
      #errorbar {
        font-family: 'museo sans', Helvetica, sans-serif;
        text-align: center;
        background-color: #ff8930;
        padding-top: 10px;
        margin-bottom: 20px;
      }
      #footer {
        margin-top: 20px;
        font-size: 1.2em;
        color: #ddd;
      }
      #footer ul {
        list-style: none;
        margin: 0 0 0 30px;
      }
      #footer li {
        float: left;
      }
      #footer li:before {
        content: "\00b7";
        margin: 0 10px;
        display: inline-block;
      }
      #footer li:first-child:before {
        display: none;
        content: '';
      }
      #footer a {
        color: #ddd;
      }
      @media (max-width: 767px) {
        #splash {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
  %body
    .container
      #splash
        .row#logobar
          .span4
            %h1.logo= link_to 'October', root_path, :style => 'margin: auto;'
        - if flash[:error] || flash[:alert]
          .row
            .span12#errorbar
              %p #{flash[:error] || flash[:alert]}
        .row
          .span12
            =yield
      #footer
        %ul
          %li
            October is a project for EECS395 at Case Western Reserve University
          %li= link_to 'About Us', about_path
    = yield :javascripts
